/_build/
/cover/
/deps/
/doc/
/.fetch
/.env
erl_crash.dump
*.ez
timely-*.tar
/priv/static/assets/
/priv/static/images/
/priv/static/js/
/priv/static/svg/
/priv/static/cache_manifest.json
/priv/cldr
/assets/node_modules/
/config/local.exs
/amazon-chime/app/dist/
/amazon-chime/src/versioning/version.ts
/amazon-chime/build/versioning/version.js
/amazon-chime/build/
/amazon-chime/src/
/chatbot/*.json
/courses
/uploads