.main-wrapper {
  width: 100%;
  margin: 1em auto;
  text-align: center;
  display: flex; flex-wrap: wrap;

}

.badge {
  position: relative;
  margin: 0em 6em;
  width: 12em;
  height: 18.6em;
  border-radius: 30px;
  display: inline-block;
  top: 0;
  transition: all 0.2s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.badge:before, .badge:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.badge:before {
  transform: rotate(60deg);
}

.badge:after {
  transform: rotate(-60deg);
}

.badge .circle {
  width: 210px;
  height: 210px;
  position: absolute;
  background: #fff;
  z-index: 10;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-left: -7px;
}

.badge .circle > span {
  position: absolute;
  bottom: 75px;
  font-size: 20px;
  width: 100%;
  left: 0;
}

.badge .circle i.fa {
  font-size: 4em;
  margin-top: 24px;
}

.badge .font {
  display: inline-block;
  margin-top: 3em;
}

.badge .ribbon {
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  border-radius: 4px;
  padding: 15px 15px 12px;
  width: 300px;
  z-index: 11;
  color: #fff;
  bottom: 36px;
  left: 50%;
  margin-left: -165px;
  height: 45px;
  font-size: 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  background: #343c71;
  cursor: default;
  justify-content: center;
  font-weight: bold;
}

.ribbon:before, .ribbon:after {
  position: absolute;
  width: 72px;
  height: 100%;
  content: "";
  top: 0;
  bottom: 0;
  margin: auto;
  background-size: 160% 160%; /* Ensure the background image covers the entire area */
background-repeat: no-repeat;
background-position: center;
}

.ribbon:before {
  transform: rotate(180deg);
  left: -30px;
  content: '';
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20256%20512%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M9.4%20278.6c-12.5-12.5-12.5-32.8%200-45.3l128-128c9.2-9.2%2022.9-11.9%2034.9-6.9s19.8%2016.6%2019.8%2029.6l0%20256c0%2012.9-7.8%2024.6-19.8%2029.6s-25.7%202.2-34.9-6.9l-128-128z%22/%3E%3C/svg%3E');
}

.ribbon:after {
  right: -30px;
  content: '';
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20256%20512%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M9.4%20278.6c-12.5-12.5-12.5-32.8%200-45.3l128-128c9.2-9.2%2022.9-11.9%2034.9-6.9s19.8%2016.6%2019.8%2029.6l0%20256c0%2012.9-7.8%2024.6-19.8%2029.6s-25.7%202.2-34.9-6.9l-128-128z%22/%3E%3C/svg%3E');
}

.beginner {
  background: linear-gradient(to bottom right, #ffb74d 0%, #ff9800 100%);
  color: #f57c00;
}

.basic {
  background: linear-gradient(to bottom right, #c9c0bb 0%, #838996 100%);
  color: #838996;
}

.intermediate {
  background: linear-gradient(to bottom right, #ffd54f 0%, #ff6f00 100%);
  color: #ff6f00;
}

.expert {
  background: linear-gradient(to bottom right, #6082B6 0%, #708090 100%);
  color: #6082B6;
}

.professional {
  background: linear-gradient(to bottom right, #d9ebf4 0%, #9ac5db 100%);
  color: #8ab1c5;
}

.strategic {
  background: linear-gradient(to bottom right, #9575cd 0%, #1d0f35 100%);
  color: #1b0f3a;
}

.lean-management {
  background: linear-gradient(to bottom right, #26a69a 0%, #00897b 100%);
  color: #00695c;
}

.innovation {
  background: linear-gradient(to bottom right, #ffab91 0%, #ff7043 100%);
  color: #ff7043;
}

.agile-leadership {
  background: linear-gradient(to bottom right, #ef5350 0%, #c62828 100%);
  color: #c62828;
}

.agile-training {
  background: linear-gradient(to bottom right, #ef9a9a 0%, #d32f2f 100%);
  color: #d32f2f;
}

.timelyhero-courses {
  background: linear-gradient(to bottom right, #ffd54f 0%, #ff6f00 100%);
  color: #ff6f00;
}
.main-wrapper.inactive{
  filter: grayscale(100%);
}
.large .badge{
  position: relative;
  margin: 0em 36em;
  width: 36em;
  height: 52.6em;
  border-radius: 120px;
  display: inline-block;
  top: 0;
  transition: all 0.2s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.large .badge .circle {
  width: 520px;
  height: 520px;
  position: absolute;
  background: #fff;
  z-index: 10;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.large .badge .circle i.fa {
  font-size: 12em;
  margin-top: 75px;
}

.large .badge .circle > span {
  position: absolute;
  bottom: 155px;
  font-size: 50px;
  width: 100%;
  left: 0;
}

.large .badge .ribbon {
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  border-radius: 4px;
  padding: 24px 14px 24px;
  width: 800px;
  z-index: 11;
  color: #fff;
  bottom: 120px;
  left: 50%;
  margin-left: -415px;
  height: 45px;
  font-size: 42px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  background: #343c71;
  cursor: default;
  justify-content: center;
}

.ambassador {
    background: linear-gradient(to bottom right, #ffd54f 0%, #ff6f00 100%);
    color: #ff6f00;
  }

.ambassador.badge {
  position: relative;
  margin-left: 2rem;
  width:300px;
  height:300px;
  border-radius: 30px;
  display: inline-block;
  top: 0;
  transition: all 0.2s ease;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 50%;
  z-index: 99999;
}

.badge:before, .badge:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.ambassador.badge:before {
  transform: rotate(0);
  display: none;
}

.ambassador.badge:after {
  transform: rotate(0);
}

.ambassador.badge .ribbon{
  z-index: 999999; bottom: auto; top: 200px
}

.ambassador.badge .fa-crown{
  font-size: 100px; margin-top: 50px
}

.ambassador.badge .circle{
  z-index: 99999; width: 240px; height: 240px;margin-left: 31px;
}

.ambassador.badge .ribbon.one, .ambassador.badge .ribbon.two{
  z-index: 9999;
  top: 220px;
  position: absolute;
  background: #ff951d;
}

.ambassador.badge .ribbon.one{
    transform: rotate(-65deg);
  }

  .ambassador.badge .ribbon.two{
    transform: rotate(65deg);
  } 