body {
    @apply bg-white text-gray-700;
    font-family: 'Gantari', sans-serif;
}

form {
    @apply flex flex-col gap-6;
}

form label {
    @apply block mb-1.5;
    @apply font-semibold text-sm text-gray-900;
}

form input[type=text], input[type=number], input[type=email], input[type=password], select, textarea {
    @apply block bg-white w-full;
    @apply border-x border-solid border-gray-300 rounded-lg ;
    @apply disabled:opacity-40;
}

.todo {
    @apply text-gray-900 !important;
}


.profile{
    @apply rounded-none md:rounded-xl bg-white;
}
.profile .cover img{
    @apply rounded-none md:rounded-t-lg;
}

.main-info{
    @apply block xl:flex xl:flex-row;
    @apply shadow-none md:shadow-xl rounded-none sm:rounded-xl;
}

.profile .main-info .left{
    @apply p-6 sm:p-16 basis-4/12 flex flex-col gap-3.5 sm:gap-4 relative sm:pt-24;

}


.profile .main-info .right{
    @apply basis-8/12 bg-gray-100 p-6 sm:p-16 rounded-t-xl sm:rounded-t-none;
    @apply rounded-br-none sm:rounded-br-xl;
}

.profile .main-info .right h4{
     @apply mb-6 text-2xl leading-8;
}

.profile .main-info h4, .profile .main-info h2{
    @apply text-gray-900;
    line-height: 2.188rem;
}

@media screen and (min-width: 768px){
    .profile .main-info h4, .profile .main-info h2{
        line-height: 2.5rem;
    }
}

.profile .main-info .left h2 + p{
    @apply relative -top-2
}

.profile > .cover{
    /*@apply h-cover-height xl:h-cover-height-xl 2xl:h-cover-height-2xl relative bg-blue-100 rounded-tl-none sm:rounded-tl-xl rounded-tr-none sm:rounded-tr-xl;*/
    @apply h-[100px] xl:h-[270px] relative bg-blue-100 rounded-tl-none sm:rounded-tl-xl rounded-tr-none sm:rounded-tr-xl;
    @apply flex justify-center items-center;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

.profile > .cover h1{
    @apply text-xl sm:text-2xl md:text-4xl
}

.profile .cover img{
    @apply object-cover w-full h-full;
}

.profile .avatar {
    @apply absolute overflow-hidden;
    @apply border sm:border-8 border-4 border-white bg-gray-200;
    @apply sm:rounded-3xl rounded-xl shadow-xl;
    @apply  w-[4.25rem] h-[4.25rem] sm:w-32 sm:h-32 -top-11 sm:-top-14 right-6 sm:right-16 lg:left-16;
    @apply flex justify-center items-center;
}

.profile .avatar > h5{
    @apply text-sm sm:text-xl md:text-2xl
}

.profile .avatar img{
    @apply object-cover w-full h-full;
    object-position: top;
}

.profile .cover-edit-btns{
    @apply absolute inline-block;
    @apply mt-4 ml-4 lg:mb-6 lg:mr-6 top-0 left-0 lg:top-auto lg:left-auto lg:bottom-0 lg:right-0
}

.profile .avatar-edit-btns{
    @apply absolute sm:p-2 p-1 inline-block;
    @apply -top-7 sm:top-3 right-24 sm:right-52 lg:left-52;
}

.profile .avatar-edit-btns button{
    @apply sm:ml-2 inline-block;
}

.profile .avatar-edit-btns button:first-child{
    @apply sm:ml-0;
}

.profile .qr-code{
    @apply absolute sm:h-10 sm:w-10 w-[2.5rem] h-[2.5rem] sm:p-2 p-1 flex items-center justify-center;
    @apply bg-white rounded-lg  shadow-lg;
    @apply -top-5 sm:top-[30px] right-24 sm:right-52 lg:left-52 hover:cursor-pointer;
}
.profile .qr-code a{
    display: block;
}
.profile .qr-code svg{
    width: 18px;
    height: 18px;
}

.profile .main-info .full{
    @apply basis-full flex p-6 sm:p-16 sm:pb-10
}

.profile .forms{
   @apply px-6 sm:px-16 block md:flex basis-full gap-10 pb-6
} 

.hero-wrapper{
    @apply px-0 py-0 md:py-5 lg:py-10 max-w-[1140px] my-0 mx-auto;
}

.event-type-wrapper{
    @apply px-0 sm:px-8 md:px-16 lg:px-32 py-0 sm:py-2.5 md:py-5 lg:py-10
}

.events-main-wrapper .top, events-main-wrapper-mobile .top {
  display: block;
  padding-top: 12px;
  font-size: 12px;;
  font-weight: 700;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(102 112 133 / var(--tw-text-opacity));
  @apply font-gantari
}

.events-main-wrapper .top > .dot, .events-main-wrapper-mobile .top > .dot {
    margin: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(208 213 221 / var(--tw-bg-opacity));
    height: 4px;
    width: 4px;
    border-radius: 50%;
    display: inline-block;
}

.event{
    max-width: 400px;
}

.events-main-wrapper, .events-main-wrapper-mobile {
  justify-content: start;
}

.my-event-image{
    height: 70px !important;
    object-fit: fill; 
}

a.event-name{
    color: rgb(16 24 40 / var(--tw-text-opacity));
}

.horizontal-line{
    background: #E4E7EC;
    height: 1px;
    width:  100%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.justify-center{
    justify-content: center;
}

.event_type_wrapper {
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.event-type-wrapper.mobile{
    display: block;
    position: absolute;
    z-index: 1000;
    margin: 0px;
    width: 100%;
    top: 120px;
}

.event-link{
    cursor: pointer;
}

.modal{
    z-index: 9999999999;
}

.modal-header .btn-close{
    margin: 22px;
    color: #101828;
    top: 0!important;
    right: 0!important;
    opacity: 1!important;
}

#bookingModal .modal-dialog{
    width: 97%;
    max-width: 97%;
    padding-top: 8rem;
}

.list-number {
  list-style-type: number;
}
.pill-select[data-popper-placement="top-start"]{
    bottom: 16px !important;
}

.publicURLLabel{
    position: absolute;
    margin-top: -30px;
    margin-left: 16px;
    color: #667085;
    font-size: 1rem;
}

.publicURL{
    color: #171B36;
}

.event-type-popout{
    /*transform: translateX(100%);*/
    margin-right: -620px;
    height: 100%;
    transition: all 200ms;
}

.event-type-popout.animate{
    /*transform: translateX(0%);*/
    margin-right: 0;
}

.action-bar{
transition: all 200ms;
margin-right: -620px;
}

.action-bar.animate{
    /*transform: translateX(0%);*/
    margin-right: 0;
}

.pill-select li.active{
    background-image: url(/assets/svg/generic/check.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
}

.pill-select > div[aria-expanded=true]{
    border: 1px solid rgba(71, 84, 103, 1);
    color: Gray/700;
}

.pill-select > div:hover{
    background: rgba(249, 250, 251, 1);
    cursor: pointer;
    color: Gray/700;
}

.unanswered-notification{
    background-color: rgb(242 244 247 / var(--tw-bg-opacity))!important;
    position: relative;
}

.notification-result .icon-menu{
    gap:0;
}

.unanswered-notification > span{
    display: block;
    position: absolute;
    height: 7px;
    width: 7px;
    top: 50%;
    margin-top:-3px;
    left: 8px;
    background: linear-gradient(0deg, #D92D20, #D92D20);
    border-radius: 100%;
    border: none;
}

.default-timeslot{
    border-radius: 8px;
    padding: 12px 16px 12px 16px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    @apply flex gap-[8px] items-center justify-center font-gantari text-white bg-primary-700 font-bold cursor-pointer;
}

.default-timeslot path{
    @apply stroke-gray-500;
    stroke: white !important;
}

.selected-timeslot, .default-timeslot:hover{
    border: 1px solid #3E4784;
    @apply bg-primary-50 text-white bg-primary-700;

}

.default-timeslot.selected-timeslot path, .default-timeslot:hover path{
    @apply stroke-primary-700;
    stroke: white !important;
}

.profile .avatar img.no_profile_img{
    width: auto; height: auto;
}

.two_liner{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.one_liner{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}


.tags a.error, .tags span.error {
  color: #B42318;
  background: #FEF3F2;
}

.full_price{
    display: flex !important;
    flex-direction: column;
}

.has_discount{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    font-size: x-small;
    min-width: 65px;
}

.discount_price{
    font-size: 15px;
}


.chatbot-iframe{
    width: 350px;
    height: 0px;
    z-index: 10000;
    position: fixed;
    bottom: 80px;
    right: 80px;
}
.floating-circle{
    position: fixed;
    bottom: 60px;
    right: 60px;
    color: white;
    background: rgb(52 60 113);
    radius: 20px;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    box-shadow: 3px 3px #888;
    z-index: 9;
}

.chatbot-svg path{
    stroke: white !important;
}

.chatbot-svg{
    margin: 18px;
}
.chatbot-close{
    position: fixed;
    z-index: 100000;
    bottom: 440px;
    right: 85px;
}
.floating-message{
    bottom: 130px;
    position: fixed;
    right: 80px;
    max-width: 250px;
    background: lightblue;
    border-radius: 12px;
    padding: 10px;
    z-index: 9;
}

@media (max-width: 480px) {
    .chatbot-close{
        right: 15px !important;
    }
    .floating-message{
        right: 10px  !important;
    }

    .chatbot-iframe{
        right: 10px !important;
    }
    .floating-circle{
        right: 10px;
    }

}
.product .logo-wrap, .course .logo-wrap{
    min-width: 176px;
  }

  .link-pricing{
    display: flex; align-items: center; justify-items: center;
  }
.link-pricing > a{
    padding-left: 8px;
    display: block;
}
  @media (max-width: 369px) {
    .link-pricing > a{
        padding-left: 0;
    }
  }
  
@media print{
  .show-mobile-item{
    display: none;
  }
}

.logo-banner{
    @apply flex flex-col justify-center items-center gap-[25px] md:gap-[35px] text-white p-[25px] md:p-[35px] text-center;
    background: #21405e;
}

.banner-logos{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
    max-width: 1380px;
}

.banner-logos > li{
    display: flex;
    align-items: center;
    justify-content: center;
} 

.banner-logos > li > img{
    @apply max-h-[45px]
}

.banner-title{
    @apply text-[24px]
}

.banner-logos > li:nth-child(5) img{
   max-width: 200px;
}

@media (max-width: 670px) {

    .banner-title{
        @apply text-[18px]
    }

    .banner-logos{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
    }

    .banner-logos > li > img{
        max-height: none;
    }
    .banner-logos > li{
        width: 25%;
        padding-top: 20px;
    }

    .banner-logos > li:nth-child(1){
        order: 1; padding-top: 0;
    }
    .banner-logos > li:nth-child(2){
        order: 4;
    }
    .banner-logos > li:nth-child(3){
        order: 2; padding-top: 0;
    }
    .banner-logos > li:nth-child(4){
        order: 5;
    }
    .banner-logos > li:nth-child(5){
        order: 3; padding-top: 0;
    }

    .banner-logos img{
        min-width: 150px
    }

    .banner-logos > li:nth-child(3) img{
        max-width: 40px; min-width: 40px;
    }

    .banner-logos > li:nth-child(1) img{
        min-width: 100px
    }

    .banner-logos > li:nth-child(5) img{
        min-width: 120px
    }
  }

  @media (max-width: 450px) {
    .banner-logos img{
        min-width: 120px
    }

    .banner-logos > li:nth-child(3) img{
        max-width: 40px; min-width: 40px;
    }

    .banner-logos > li:nth-child(1) img{
        min-width: 80px
    }

    .banner-logos > li:nth-child(5) img{
        min-width: 100px
    }
  }


li[data-list="ordered"] {
  list-style-type: none;
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  counter-increment: list-0;
}

li[data-list="ordered"]::before {
  content: counter(list-0, decimal) '. ';
}

li.ql-indent-1, li.ql-indent-2{
    list-style: none !important;
}

li.ql-indent-1[data-list="ordered"]::before{
    content: counter(list-1, lower-alpha) '. ' !important;
}

li.ql-indent-1[data-list=ordered] {
  counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  counter-increment: list-1;
}

li.ql-indent-2[data-list="ordered"]::before{
    content: counter(list-2, lower-roman) '. ' !important;
}

li.ql-indent-2[data-list=ordered] {
  counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  counter-increment: list-2;
}

li[data-list="bullet"]{
    list-style: none; 
}

li[data-list="bullet"]::before {
  content: "\2022" !important;
}

li.ql-indent-1[data-list="bullet"]::before, li.ql-indent-2[data-list="bullet"]::before {
  content: "\25E6" !important;
}

li[data-list="alpha"]::before {
  content: none !important;
}

li[data-list="alpha"]{
    list-style: lower-alpha !important;
    counter-reset: list-0 list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
    counter-increment: list-0;
}

li.ql-indent-1[data-list="alpha"]{
    list-style: none !important;
}

li.ql-indent-1[data-list="alpha"]::before {
  content: "\25E6" !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    background: rgb(52 60 113) !important;
    border: 1px solid rgb(52 60 113) !important;
}

.round-btn.btn-red svg{
    background: red;
    stroke: white;
    top: 10px;
    left: -10px;
    position: relative;
    border-radius: 2rem;
}

.ql-align-center{
    text-align: center;
    display: flex;
    justify-content: center;
}

.ql-align-center span{
    text-align: center;
    display: flex;
    justify-content: center;
}